.admitcard-mainblock {
	width: 210mm;
	height: 103.2mm;
	float: left;
	background-color: ;
}

.admitcard-block {
	width: 205mm;
	height: 81mm;
	margin-left: 2mm;
	margin-right: 8mm;
	background-color: ;
	float: left;
	border: 2px solid black;
}

.AdmitCardTop {
	width: 100%;
	height: 15mm;
	background-color: ;
	float: left;
	border-bottom: 1px solid black;
}

.AdmitCardTop1 {
	width: 25mm;
	height: 15mm;
	background-color: ;
	float: left;
}

.AdmitCardTop2 {
	width: 130mm; 
	height: 15mm; 
	background-color: ;
	float: left; 
	text-align:center; 
}

.SpanLine1 {
	 
	font-size: 22px; 
	font-weight: bold;
}

.SpanLine2 {

	font-size: 17px; 
	font-weight: ;
}

.AdmitCardTop3 {
	width: 34mm; 
	height: 15mm; 
	padding-left: 1mm; 
	background-color: ;
	float: left; 
	border-left: 2px solid black;
	text-align: center;
}

.AdmitCardContentLeft {
	width: 110mm; 
	height: 65mm; 
	padding-top: 1mm; 
	padding-left: 2mm; 
	background-color: ;
	float: left;
}

.AdmitCardContentLeftbottom {
	width: 110mm; 
	height: 24mm; 
	margin-bottom: 0mm; 
	float: bottom; 
	background-color: ;
}

.AdmitCardContentLeftbottom1 {
	width: 55mm; 
	height: 18mm;
	margin-bottom: 0mm; 
	text-align: center; 
	float: left; 
	background-color: ;
	}

.AdmitCardContentLeftbottom2 {
	width: 55mm; 
	height: 18mm; 
	margin-bottom: 0mm; 
	text-align: center; 
	float: left; 
	background-color: ;
}

.AdmitCardContentLeftbottom3 {
	width: 55mm; 
	height: 6mm; 
	margin-bottom: 0mm;  
	text-align: center; 
	float: left; 
	background-color: ;
	} 

.AdmitCardContentLeftbottom4 {
	width: 55mm; 
	height: 6mm; 
	margin-bottom: 0mm;  
	text-align: center; 
	float: left; 
	background-color: ;
}

.AdmitCardContentRight {
	width: 89mm; 
	height: 65mm; 
	float: left; 
	border-left: 2px solid black;
}

.r1 {
	width: 89mm; 
	height: 55mm; 
	float: left; 
	border-left: 2px solid black;
}

.r2 {
	width: 89mm; 
	height: 10mm; 
	float: left; 
	border-left: 2px solid black;
}


